{% extends "base.html" %} {% load bootstrap4 %} 

{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {% bootstrap_form userform %}
         {% bootstrap_form profileform %} 
         {% buttons %}
        <button class="btn btn-primary boxed-btn3 w-50" type="submit">
          Apply Now
        </button>
        {% endbuttons %}
      </form>
  </div>
</div>
{% endblock body %}
  